.itemWrapper{
    box-shadow: 1px 1px 1px lightgray;
    display: flex;
}

.textWrapper{
    flex: auto;
    padding: 25px;
    display: flex;
}

.actionsWrapper{
    /*flex:auto*/
    display: flex;
    flex-wrap: wrap;
}
