.itemWrapper {
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.12);
    display: flex;
}

.textWrapper {
    flex: auto;
    padding: 25px;
    display: flex;
    cursor: pointer;
}

.actionsWrapper {
    /*flex:auto*/
    display: flex;
}
