
.hr{
    width: 100%;
    height: 1px;
    background: gray;
    border: 0px;
}
.fullwidth{
    width: 100%
}

.commentsWrapper{
    background: #c9edfd;
    color: #5a5a5a;
    display: flex;
    flex-direction: column;

}